<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>Verify Account</title> -->
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
      }
      .main {
        max-width: 650px;
        margin: 0px auto;
        padding: 50px 0px;
      }
      .main > table {
        width: 100%;
      }
      td {
        padding: 0px 10px;
      }
      .btn {
        display: block;
        margin: 15px 0px;
        background-color: #d97a21;
        width: 175px;
        text-align: center;
        padding: 15px 25px;
        border-radius: 5px;
        color: white !important;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="main">
      <table>
        <tr>
          <td style="text-align: center">
            <img
              src="https://funda.pk/favicon.png"
              alt="Fund logo"
              style="margin-bottom: 30px"
            />
          </td>
        </tr>
        <tr>
          <td>
            <p style="margin-bottom: 15px">Hi! <%= name %></p>
          </td>
        </tr>
        <tr>
          <td>A request has been initiated to change your email.</td>
        </tr>
        <tr>
          <td>
            <a href="<%= link %>" target="_blank" class="btn">Verify Email</a>
          </td>
        </tr>
        <tr>
          <td>Button not working? Copy the url below and paste in browser</td>
        </tr>
        <tr>
          <td style="word-break: break-all">
            <a
              href="<%= link %>"
              style="margin: 15px 0px; display: block"
              target="_blank"
              ><%= link %></a
            >
          </td>
        </tr>
        <tr>
          <td>If you didn't initiated this request. Please ignore</td>
        </tr>
        <tr>
          <td>
            <p style="margin-top: 20px">Regards,</p>
            <p>Team Funda</p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="margin-top: 30px; text-align: center">
              <small style="font-size: 12px"
                >Write us at
                <a href="mailto:salesfunda.pk@gmail.com">info@funda.pk</a> in
                case of any inconvenience.</small
              >
            </p>
            <p style="text-align: center">
              <small style="font-size: 12px"
                >&copy; <%= year %> - All rights reserved by Funda.pk</small
              >
            </p>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
